.buynowcontainer {
    background-color: #f0f0f0;
}

.buynowcontainer1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-div img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buytopcon {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.buynowcon {
    border-bottom: 1px solid black;
}

.colorselectdiv {
    display: flex;
    align-items: baseline;
}

.colorselectdiv img {
    width: 30px;
}

.colorselectdiv ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.img-div img {
    margin-left: 0;
}

.colorselectdiv ul li {
    padding-left: 10px;
}

.hightmaindiv {
    display: flex;
}

.hightmaindiv .col-6 {
    display: flex;
}

.buynowbtndiv {
    display: flex;
    justify-content: space-around;
}

.buynowbtn1 a {
    text-decoration: none;
    color: #fff;
    background: #222;
    padding: 15px 20px;
    transition: all .3s ease-in-out 0s;
}

.buynowbtn1 a:hover {
    background-color: #d2401e;
}

.buynowbtn2 a {
    text-decoration: none;
    color: #fff;
    background: #222;
    padding: 15px 20px;
    transition: all .3s ease-in-out 0s;
}

.buynowbtn2 a:hover {
    background-color: #d2401e;
}

@media only screen and (max-width: 600px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon1 h2 {
        font-size: 18px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buytopcon2 h5 {
        font-size: 15px;
    }

    .hightmaindiv .col-6 {
        display: block;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 600px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon1 h2 {
        font-size: 20px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buytopcon2 h5 {
        font-size: 15px;
    }

    .hightmaindiv .col-6 {
        display: block;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 768px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 992px) {
    .buytopcon2 span {
        display: inline;
    }
}