@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* filter start */
.filtercol h2 {
    border-bottom: 1px solid black;
}

.filtersearchinput {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.filtersearch {
    border: none;
    background: #fff;
    border-bottom: 1px solid black;
}

.scrollbar {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding-left: 0;
}

.filter-name {
    padding-left: 10px;
    text-transform: capitalize;
}

/* filter end */