@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

/* filter start */
.filtercol h2 {
    border-bottom: 1px solid black;
}

.categoriesh6 {
    display: flex;
    justify-content: space-between;
}

.categories1 {
    display: contents;
    color: black;
}

.categories1:hover {
    color: #d2401e;
}

.filter-name {
    color: black;
}

.filter-name:hover {
    color: black;
}

.fliter-row {
    text-align: -webkit-center;
}

.categories1 a {
    text-decoration: none;
    color: black;
}

.filtersearchinput {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.filtersearch {
    border: none;
    background: #fff;
    border-bottom: 1px solid black;
}

.scrollbar {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding-left: 0;
}

.filter-name {
    padding-left: 10px;
    text-transform: capitalize;
}

.flitercate1 {
    border-bottom: 1px solid black;
}

.filter-name i {
    padding-left: 4px;
    padding-right: 4px;
}

.flitercate2 {
    border-bottom: 1px solid black;
}

.pricerangediv input {
    width: 200px;
}

.pricerangeshowdiv {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.pricerangeshowmin p {
    border: 1px solid black;
    padding: 5px 15px;
}

.pricerangeshowmin p span {
    padding-left: 3px;
}

.pricerangeshowmax p {
    border: 1px solid black;
    padding: 5px 15px;
}

.pricetospan {
    padding: 5px;
}

.flitercate3,
.flitercate4,
.flitercate5,
.flitercate6,
.flitercate7 {
    border-bottom: 1px solid black;
}

.cat-none {
    display: none;
}

@media only screen and (max-width: 600px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .filter-name {
        display: inline;
    }
}

/* filter end */