@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
/* navbar */
header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    padding: 7px;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    transition: color 0.4s ease;
}
.img-fluid{
    margin-left:25px ;
}
.navbar ul li a:hover{
    color: #d2401e;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    transition: color 0.4s ease;
}
.user-div ul{
    list-style: none;
    display: flex;
}
.user-div ul li{
    padding: 7px;
    text-transform: capitalize;
}
.user-div ul li a:hover{
    color: #d2401e;
}
.dropdown:hover{
    color: #d2401e;
}
.dropdown-content{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    background: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.dropdown:hover .dropdown-content {
    display: grid;
    visibility: visible;
    opacity: 1;
}
.dropdown-content a{
    text-decoration: none;
    color: #7f7f7f;
}
.dropdown-content a:hover{
    color: #d2401e;
}
/* menu */
.menucol{
    list-style: none;
    margin-top: 10px;
}
#menumaindiv{
    position: absolute;
    background: #fff;
    left: -25px;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    height: 100vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 2;
}

.closex{
    text-align: right;
}
.bx-x{
    font-size: 25px;
}
.menudrop{
    float: right;
}
.menuli{
    font-size: 16px;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
}
.menuli a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.bx-menu{
    display: none;
}
.menucol li a:hover{
color: #d2401e;
}
/* menu end */
@media (max-width:1024px){
    span{
        display: none;
    }
    .userrow{
        float: right;
    }
}
@media (max-width:768px){
    .navbar ul li{
        padding: 5px;
    }
    .user-div ul li{
        padding: 5px;
        padding-left: 10px;
        font-size: 18px;
    }
    .navbarrow{
        display: none !important;
    }
    .bx-menu{
        display: block;
    }
    .menuli{
        font-size: 20px;
        padding-top: 15px;
        border-top: 1px solid #e2e2e2;
    }
    
}
/* end navbar */
/* slider start */
.bx-left-arrow-alt,.bx-right-arrow-alt{
    background: #fff;
    color: #d2401e;
    padding: 8px;
    border-radius: 100%;
    font-size: 20px;
}
.bx-left-arrow-alt:hover,.bx-right-arrow-alt:hover{
    color: #fff;
    background-color: #d2401e;
}
.con-slider1{
    position: absolute;
    top: 220px;
    right: 200px;
}
.slider1p{
    font-size: 24px;
    font-weight: 600;
}
.slider1h1{
    color: #282828;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.slider1button,.slider2button{
    border: none;
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 600;
    padding: 22px 43px;
    line-height: 1;
    transition: background 0.5s ease;
    transition: color 0.3s ease;
}
.slider1button:hover{
    color: #fff;
    background: #d2401e;
}
.con-slider2{
    position: absolute;
    top: 230px;
    left: 250px;
}
.slider2p{
    color: #f7dc2f;
    font-weight: 500;
    font-size: 18px;
}
.slider2h1{
    color: #fff;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}
.slider2button:hover{
    background: #f7dc2f;
    color: #fff;
}
@media (max-width:1024px){
    .con-slider1{
        top: 140px;
        right: 150px;
    }
    .con-slider2{
        top: 140px;
        left: 200px;
    }
    .slider1p,.slider2p{
        font-size: 18px;
    }
    .slider1h1,.slider2h1{
        font-size: 60px;
    }
    .slider1button,.slider2button{
        padding: 15px 25px;
    }
}
@media (max-width:768px){
    .con-slider1{
        top: 110px;
        right: 120px;
    }
    .con-slider2{
        top: 110px;
        left: 170px;
    }
    .slider1p,.slider2p{
        font-size: 15px;
    }
    .slider1h1,.slider2h1{
        font-size: 40px;
    }
    .slider1button,.slider2button{
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 5px;
    }
}
@media (max-width:500px){
    .con-slider1{
        top: 45px;
        right: 70px;
    }
    .con-slider2{
        top: 45px;
        left: 120px;
    }
    .slider1p,.slider2p{
        font-size: 10px;
    }
    .slider1h1,.slider2h1{
        font-size: 25px;
    }
    .slider1button,.slider2button{
        padding: 10px 10px;
        font-size: 9px;
        margin-top: 5px;
    }
}
@media (max-width:376px){
    .con-slider1{
        top: 30px;
        right: 70px;
    }
    .con-slider2{
        top: 30px;
        left: 120px;
    }
    .slider1p,.slider2p{
        font-size: 8px;
    }
    .slider1h1,.slider2h1{
        font-size: 20px;
    }
    .slider1button,.slider2button{
        padding: 8px 8px;
        font-size: 8px;
        margin-top: 0;
    }
}
/* end slider */
