@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* navbar */
header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding: 7px;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    transition: color 0.4s ease;
}

.img-fluid {
    margin-left: 25px;
}

.navbar ul li a:hover {
    color: #d2401e;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.4s ease;
}

.user-div ul {
    list-style: none;
    display: flex;
}

.user-div ul li {
    padding: 7px;
    text-transform: capitalize;
}

.user-div ul li a:hover {
    color: #d2401e;
}

.dropdown:hover {
    color: #d2401e;
}

.dropdown-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    background: #fff;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: grid;
    visibility: visible;
    opacity: 1;
}

.searcha {
    color: black;
    text-decoration: none;
}

.searcha:hover {
    color: #d2401e;
}

.searchinputdiv {
    position: absolute;
    top: 40px;
    z-index: 3;
    left: 170px;
}

.searchdiv nav {
    background: #fff;
    border-radius: 10px;
}


.searchainput {
    position: absolute;
    top: 50px;
    right: -50px;
    border: none;
    border-bottom: 1px solid #7f7f7f;
    outline: none;
    transition: all 0.2s ease-in-out;

}

.dropdown-content a {
    text-decoration: none;
    color: #7f7f7f;
}

.dropdown-content a:hover {
    color: #d2401e;
}

/* menu */
.menucol {
    list-style: none;
    margin-top: 10px;
}

#menumaindiv {
    position: absolute;
    background: #fff;
    left: -25px;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    height: 100vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
    z-index: 2;
}

.closex {
    text-align: right;
}

.bx-x {
    font-size: 25px;
}

.menudrop {
    float: right;
}

.menuli {
    font-size: 16px;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
    text-transform: uppercase;
}

.menuli a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.bx-menu {
    display: none !important;
}

.menucol li a:hover {
    color: #d2401e;
}

/* menu end */
@media (max-width:1024px) {
    .bx-menu {
        display: none !important;
    }

    span {
        display: none;
    }

    .userrow {
        float: right;
    }
}

@media (max-width:768px) {
    .navbar ul li {
        padding: 5px;
    }

    .user-div ul li {
        padding: 5px;
        padding-left: 10px;
        font-size: 18px;
    }

    .navbarrow {
        display: none !important;
    }

    .bx-menu {
        display: block !important;
    }

    .menuli {
        font-size: 20px;
        padding-top: 15px;
        border-top: 1px solid #e2e2e2;
    }

}

/* end navbar */
/* slider start */
.bx-left-arrow-alt,
.bx-right-arrow-alt {
    background: #fff;
    color: #d2401e;
    padding: 8px;
    border-radius: 100%;
    font-size: 20px;
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
    color: #fff;
    background-color: #d2401e;
}

.con-slider1 {
    position: absolute;
    top: 220px;
    right: 200px;
}

.slider1p {
    font-size: 24px;
    font-weight: 600;
}

.slider1h1 {
    color: #282828;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.slider1button,
.slider2button {
    border: none;
    text-transform: uppercase;
    margin-top: 25px;
    font-weight: 600;
    padding: 22px 43px;
    line-height: 1;
    transition: background 0.5s ease;
    transition: color 0.3s ease;
}

.slider1button:hover {
    color: #fff;
    background: #d2401e;
}

.con-slider2 {
    position: absolute;
    top: 230px;
    left: 250px;
}

.slider2p {
    color: #f7dc2f;
    font-weight: 500;
    font-size: 18px;
}

.slider2h1 {
    color: #fff;
    font-size: 80px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.slider2button:hover {
    background: #f7dc2f;
    color: #fff;
}

@media (max-width:1024px) {
    .con-slider1 {
        top: 140px;
        right: 150px;
    }

    .con-slider2 {
        top: 140px;
        left: 200px;
    }

    .slider1p,
    .slider2p {
        font-size: 18px;
    }

    .slider1h1,
    .slider2h1 {
        font-size: 60px;
    }

    .slider1button,
    .slider2button {
        padding: 15px 25px;
    }
}

@media (max-width:768px) {
    .con-slider1 {
        top: 110px;
        right: 115px;
    }

    .con-slider2 {
        top: 110px;
        left: 145px;
    }

    .slider1p,
    .slider2p {
        font-size: 15px;
    }

    .slider1h1,
    .slider2h1 {
        font-size: 40px;
    }

    .slider1button,
    .slider2button {
        padding: 10px 15px;
        font-size: 14px;
        margin-top: 5px;
    }
}

@media (max-width:500px) {
    .con-slider1 {
        top: 45px;
        right: 70px;
    }

    .con-slider2 {
        top: 45px;
        left: 70px;
    }

    .slider1p,
    .slider2p {
        font-size: 10px;
    }

    .slider1h1,
    .slider2h1 {
        font-size: 25px;
    }

    .slider1button,
    .slider2button {
        padding: 10px 10px;
        font-size: 9px;
        margin-top: 5px;
    }

    .sliderdowndiv h6 {
        font-size: 17px !important;
    }
}

@media (max-width:376px) {
    .con-slider1 {
        top: 35px;
        right: 65px;
    }

    .con-slider2 {
        top: 35px;
        left: 65px;
    }

    .slider1p,
    .slider2p {
        font-size: 7px;
    }

    .slider1h1,
    .slider2h1 {
        font-size: 17px;
    }

    .slider1button,
    .slider2button {
        padding: 7px 7px;
        font-size: 7px;
        margin-top: 0;
    }

    .sliderdowndiv h6 {
        font-size: 17px !important;
    }
}

@media (max-width:321px) {
    .con-slider1 {
        top: 22px;
        right: 50px;
    }

    .con-slider2 {
        top: 22px;
        left: 53px;
    }

    .slider1p,
    .slider2p {
        font-size: 7px;
    }

    .slider1h1,
    .slider2h1 {
        font-size: 17px;
    }

    .slider1button,
    .slider2button {
        padding: 7px 7px;
        font-size: 7px;
        margin-top: 0;
    }
}

/* end slider */
/* slider down start */
.sliderdownrowdiv {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sliderdowndiv h6 {
    font-size: 20px;
    text-transform: uppercase;
}

.sliderdowndiv i {
    color: #d2401e;
}

.sliderdowndiv i {
    font-size: 25px;
}

/* slider down end */
/* banner start */
.banner1div,
.banner2div {
    position: relative;
}

.banner1div img {
    top: 0px;
    left: 0;
    z-index: -1;
    margin: 0;
}

.banner1con {
    position: absolute;
    top: 90px;
    left: 80px;
}

.banner1con h6,
.banner2con h6 {
    color: #f9df32;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    line-height: 2;
}

.banner1con h2,
.banner2con h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

.banner1button {
    font-size: 15px;
    border: none;
    border: 1px solid #f9df32;
    text-transform: uppercase;
    background-color: #f9df32;
    color: black;
    margin-top: 20px;
    font-weight: 600;
    padding: 13px 18px;
    line-height: 1;
    transition: background 0.5s ease;
    transition: color 0.5s ease;
}

.banner2con {
    position: absolute;
    top: 90px;
    right: 120px;
}

.banner2div img {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    margin: 0;
}

.banner2button {
    font-size: 15px;
    border: none;
    border: 1px solid #f9df32;
    text-transform: uppercase;
    background-color: #f9df32;
    color: black;
    margin-top: 20px;
    font-weight: 600;
    padding: 13px 18px;
    line-height: 1;
    transition: background 0.5s ease;
    transition: color 0.5s ease;
}

.banner1button:hover {
    background: #d2401e;
    color: #f9df32;
}

.banner2button:hover {
    background: #1e7cbf;
    color: #f9df32;
}

@media (min-width:1440px) {
    .banner1con {
        top: 45px !important;
    }

    .banner2con {
        top: 40px !important;
        right: 90px !important;
    }

    .banner1con h6,
    .banner2con h6 {
        font-size: 28px;
    }

    .banner1con h2,
    .banner2con h2 {
        font-size: 32px;
    }

    .banner1button,
    .banner2button {
        font-size: 13px;
    }
}

@media (min-width:1024px) {
    .banner1con {
        top: 10px;
        left: 70px !important;
    }

    .banner2con {
        top: 10px;
        right: 100px !important;
    }
}

@media (max-width:990px) {
    .banner1div img {
        position: unset;
    }

    .banner2div img {
        position: unset;
    }

    .bannerpadding {
        padding-top: 25px !important;
    }
}

@media (min-width:768px) {
    .banner1con {
        /* top: 90px; */
        /* left: 120px; *
    }
    .banner2con{
        /* top: 100px; */
        right: 130px;
    }
}

@media (max-width:523px) {
    .banner1con {
        top: 35px;
    }

    .banner2con {
        top: 35px;
        right: 70px;
    }

    .banner1con h6,
    .banner2con h6 {
        font-size: 20px;
    }

    .banner1con h2,
    .banner2con h2 {
        font-size: 26px;
    }

    .banner1button,
    .banner2button {
        font-size: 12px;
        padding: 8px 8px;
        margin-top: 7px;
    }
}

@media (max-width:376px) {
    .banner1con {
        top: 10px;
        left: 30px;
    }

    .banner2con {
        top: 10px;
        right: 60px;
    }

    .banner1button,
    .banner2button {
        font-size: 8px;
    }
}

/* banner end d */
/* phone slides start */
.tabssection {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.tabsrow h3 {
    text-transform: uppercase;
    font-weight: 600;
}

.tabscon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabsrow .tabsbtn ul {
    list-style: none;
    display: flex;
}

.tabsbtn ul li {
    padding-left: 40px;
}

.tabsbtn ul li a:hover {
    color: #d2401e;
}

.btn1style {
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    text-transform: uppercase;
    color: #d2401e;
    font-weight: 600;
    text-decoration: none;
}

.btnstyle,
.car1 {
    color: black;
    padding: 10px 15px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.mystyle {
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    text-transform: uppercase;
    color: #d2401e;
    font-weight: 600;
}

.btn1style:hover {
    color: #d2401e;
}

.mystyle:hover {
    color: #d2401e;
}

@media only screen and (max-width: 600px) {
    .tabsbtn ul li {
        padding-left: 0px;
        font-size: 14px;
    }

    .tabscon {
        display: block;
        text-align: center;
    }

    .tabsbtn {
        padding-top: 20px;
    }

    .tabsrow .tabsbtn ul {
        justify-content: center;
    }

    .tabsbtn ul {
        padding-left: 0;
    }

    .tabsbtn ul {
        padding-left: 200px;
    }
}

@media only screen and (min-width: 600px) {
    .tabsbtn ul li {
        padding-left: 0px;
    }

    .tabscon {
        display: block;
        text-align: center;
    }

    .tabsbtn {
        padding-top: 20px;
    }

    .tabsrow .tabsbtn ul {
        justify-content: center;
    }

    .tabsbtn ul {
        padding-left: 0;
    }
}

@media only screen and (min-width: 768px) {
    .tabsbtn ul li {
        padding-left: 0px;
    }

    .tabsbtn ul {
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .tabsbtn ul li {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .tabscon {
        display: flex;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .tabsbtn ul {
        overflow-x: scroll;
        white-space: nowrap;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    ::-webkit-scrollbar {
        display: none;
    }

}

/* phone slides end */
/* case slider start */

.card {
    border: none !important;
}

.cardrow1 {
    text-align: -webkit-center;
}

.card img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-body {
    text-align: center;
}

.card-text,
.card-title {
    text-transform: uppercase;
}

.card i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
}

.cardrow2 {
    display: none !important;
    text-align: -webkit-center;
}

.cardrow3 {
    display: none !important;
    text-align: -webkit-center;
}

.card-body a {
    text-decoration: none;
    color: #d2401e;
}

.add {
    display: flex !important;
}

@media only screen and (min-width: 1200px) {
    .card {
        width: 14rem !important;
    }
}

@media only screen and (min-width: 992px) {
    .card {
        width: 14rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .cardrow1 {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap !important;
    }

    .cardrow2 {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap !important;
    }

    .cardrow3 {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap !important;
    }
}

.allcollection-btn {
    color: #fff;
    font-size: 15px;
    line-height: 1;
    padding: 22px 45px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 0;
    background: #282828;
    transition: background 0.7s ease;
}

.allcollection-btn-row {
    text-align: center;
}

.view-all {
    padding-top: 100px;
    padding-bottom: 100px;
}

.view-all a {
    text-decoration: none;
}

.allcollection-btn:hover {
    background: #d2401e;
    color: #fff;
}

/* case slider end */
/* banner img start */
.banner-ad {
    position: relative;
    display: flex;
    align-items: center;
}

.banner-text {
    text-transform: uppercase;
    position: absolute;
    left: 18%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    text-align: center;
}

.main-title {
    max-width: 70%;
}

.main-title h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.main-title p {
    color: #f7dc2f;
    font-size: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .bannerimagead {
        margin-left: 0;
        height: 200px !important;
        object-fit: cover;
    }

    .banner-text {
        left: 15px;
        right: 15px;
    }

    .main-title {
        max-width: 100%;
    }

    .main-title h2 {
        font-size: 22px;
    }

    .main-title p {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .bannerimagead {
        margin-left: 0;
    }

    .banner-text {
        left: 25%;
    }

    .main-title {
        max-width: 100%;
    }

    .main-title h2 {
        font-size: 22px;
    }

    .main-title p {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media only screen and (min-width: 992px) {
    .bannerimagead {
        margin-left: 0;
    }

    .banner-text {
        left: 25%;
    }

    .main-title {
        max-width: 100%;
    }

    .main-title h2 {
        font-size: 22px;
    }

    .main-title p {
        font-size: 14px;
        margin-top: 10px;
    }

}

@media only screen and (min-width: 1200px) {
    .banner-text {
        text-transform: uppercase;
        position: absolute;
        left: 18%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        text-align: center;
    }

    .main-title {
        max-width: 50%;
    }

    .main-title h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 700;
    }

    .main-title p {
        color: #f7dc2f;
        font-size: 15px;
        margin-top: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

/* brand start */
.brandsection {
    background-color: #f0f0f0;
    margin-top: 50px;
}

.brandrow h2 {
    text-align: center;
}

.logo-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: -50px;
    margin-right: -30px;
    list-style: none;
}

.logo-wrapper {
    margin-top: 50px;
    margin-right: 30px;
    width: calc(16.66% - 30px);
}

.logo-wrapper a {
    position: relative;
    overflow: hidden;
    display: block;
}


.logo-wrapper a img {
    opacity: .5;
    width: 100%;
    transition: all .3s ease-in-out 0s;
}

.btn-content {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    padding: 9px 15px;
    visibility: hidden;
    transform: translateY(15px);
    background-color: #d2401e;
    transition: all .3s ease-in-out 0s;
}

.logo-wrapper a:hover .btn-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.logo-wrap .img-fluid {
    margin-left: 0;
}

.logo-wrapper a img:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .logo-wrapper {
        width: calc(50% - 15px);
        margin-top: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .logo-wrapper {
        width: calc(50% - 15px);
        margin-top: 15px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .logo-wrapper {
        width: calc(25% - 30px);
    }

    .brandrow {
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .logo-wrapper {
        width: calc(25% - 30px);
    }

    .brandrow {
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    .logo-wrapper {
        margin-top: 50px;
        margin-right: 30px;
        width: calc(16.66% - 30px);
    }

    .brandrow {
        justify-content: center;
    }
}

/* brand end */
/* happy customers start */
.happyrow {
    text-align: center;
}

.happyrow h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.happyheadpar {
    font-size: 24px;
    color: #7f7f7f;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bxs-quote-left {
    font-size: 55px;
    color: #222;
}

.happyslidepar {
    font-size: 24px;
    max-width: 44%;
    margin: 0 auto;
    line-height: 35px;
    color: #7f7f7f;
    font-weight: 400;
    margin-top: 40px;
    line-height: 45px;
}

.happy-conn h6 {
    font-size: 16px;
    color: #d2401e;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    margin-top: 50px;
}

.happy-conn span {
    text-transform: uppercase;
}

.happyspan {
    color: #d2401e;
    text-decoration: underline;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none;
}

.happy-conn span {
    color: #7f7f7f;
}

.bx-right-arrow-alt,
.bx-left-arrow-alt {
    display: block;
}

@media only screen and (max-width: 600px) {
    .happyspan {
        display: inline;
    }

    .happy-conn span {
        display: inline;
    }

    .happyslidepar {
        font-size: 14px;
        max-width: 100%;
        margin-top: 15px;
        line-height: 30px;
    }

    .happyrow h2 {
        font-size: 20px;
    }

    .happyheadpar {
        font-size: 16px;
        margin-top: 5px;
    }

    .bxs-quote-left {
        font-size: 30px;
    }

    .happy-conn h6 {
        margin-top: 15px;
        font-size: 14px;
    }

    .bx-right-arrow-alt,
    .bx-left-arrow-alt {
        display: none;
    }

}

@media only screen and (min-width: 600px) {
    .happyspan {
        display: inline;
    }

    .happy-conn span {
        display: inline;
    }

    .happyslidepar {
        font-size: 14px;
        max-width: 100%;
        margin-top: 15px;
        line-height: 30px;
    }

    .happyrow h2 {
        font-size: 20px;
    }

    .happyheadpar {
        font-size: 16px;
        margin-top: 5px;
    }

    .bxs-quote-left {
        font-size: 30px;
    }

    .happy-conn h6 {
        margin-top: 15px;
        font-size: 14px;
    }

    .bx-right-arrow-alt,
    .bx-left-arrow-alt {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .happyspan {
        display: inline;
    }

    .happy-conn span {
        display: inline;
    }

    .happyslidepar {
        font-size: 18px;
        max-width: 60%;
        margin: 0 auto;
        margin-top: 20px;
        line-height: 35px;
    }

    .happyrow h2 {
        font-size: 24px;
    }

    .happyheadpar {
        font-size: 20px;
    }

    .bx-right-arrow-alt,
    .bx-left-arrow-alt {
        display: block;
    }

}

@media only screen and (min-width: 992px) {
    .happy-conn h6 {
        margin-top: 30px;
    }

    .happyslidepar {
        font-size: 18px;
        max-width: 60%;
        margin-top: 20px;
        line-height: 35px;
    }

    .happyspan {
        display: inline;
    }

    .happy-conn span {
        display: inline;
    }

    .bx-right-arrow-alt,
    .bx-left-arrow-alt {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .happy-conn h6 {
        margin-top: 30px;
    }

    .happyslidepar {
        font-size: 18px;
        max-width: 60%;
        margin-top: 20px;
        line-height: 35px;
    }

    .bx-right-arrow-alt,
    .bx-left-arrow-alt {
        display: block;
    }
}

/* happy customers end */
/* ARTICLES AND STORY start */
.storysection {
    background-color: #f0f0f0;
}

.cardrow-2 {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.storyheadrow {
    text-align: center;
}

.storyheadrow h2 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.card2 {
    border: none;
}

.card-title2 {
    padding-top: 30px;
    text-align: center;
}

.btn-card2 {
    color: #d2401e;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1;
    padding: 14px 32px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 0;
    background-color: #fff;
    transition: all .3s ease-in-out 0s;
}

.card-title2 {
    color: #282828;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.btncard2 {
    margin-top: 30px;
}

.btn-card2:hover {
    color: #fff;
    background-color: #d2401e;
}

.card2 img {
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.card2:hover img {
    transform: scale(1.1);
}

.card2img {
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .cardrow-2 {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap !important;
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 600px) {
    .cardrow-2 {
        white-space: nowrap;
        overflow-y: scroll;
        flex-wrap: nowrap !important;
        text-align: -webkit-center;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .cardrow-2 {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 992px) {
    .cardrow-2 {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 1200px) {}

/* ARTICLES AND STORY end */
/* email sub start */
.news-title h6 {
    max-width: 30%;
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}

.news-title span {
    color: #d2401e;
}

.emailsubform {
    text-align: center;
    width: 40% !important;
    margin: 0 auto;
    margin-top: 40px !important;
}

.emailsub {
    position: relative;
    display: flex;
    align-items: center;
}

.emailsubinput {
    color: #7f7f7f;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}

.emailsubsubmit {
    color: #fff;
    position: absolute;
    right: 0;
    font-size: 15px;
    line-height: 1;
    padding: 21px 25px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #282828;
    transition: all 0.2s ease-in-out;

}

.emailsubsubmit:hover {
    background-color: #d2401e;
    border: none;
}

@media only screen and (max-width: 600px) {
    .news-title span {
        display: inline;
    }

    .news-title h6 {
        max-width: 100%;
        font-size: 16px;
    }

    .emailsubform {
        width: 100% !important;
        margin-top: 15px !important;
    }
}

@media only screen and (min-width: 600px) {
    .news-title span {
        display: inline;
    }

    .news-title h6 {
        max-width: 100%;
        font-size: 16px;
    }

    .emailsubform {
        width: 100% !important;
        margin-top: 15px !important;
    }
}

@media only screen and (min-width: 768px) {
    .news-title span {
        display: inline;
    }

    .news-title h6 {
        max-width: 50%;
        font-size: 20px;
    }

    .emailsubform {
        width: 50% !important;
        margin-top: 20px !important;
    }
}

@media only screen and (min-width: 992px) {
    .news-title span {
        display: inline;
    }

    .news-title h6 {
        max-width: 50%;
        font-size: 20px;
    }

    .emailsubform {
        width: 50% !important;
        margin-top: 20px !important;
    }
}

@media only screen and (min-width: 1200px) {
    .news-title span {
        display: inline;
    }

    .news-title h6 {
        max-width: 30%;
        font-size: 24px;
    }
}

/* email sub end */
/* footer start */
.footercontainer {
    padding-top: 75px;
}

.footercon1par {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    max-width: 70%;
}

.footercon1h6 {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.footercon1span {
    color: #d2401e;
    font-size: 16px;
    line-height: 1;
    margin-top: 20px;
}

.footercon1par2 {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    max-width: 70%;
}

.footercon2h2,
.footercon4h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 5px;
}

.footercon2ul,
.footercon3ul {
    list-style: none;
    padding-left: 0;
    margin-top: 43px;
}

.footercon2ul li,
.footercon3ul li {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    text-transform: capitalize;
}

.footercon2ul li a,
.footercon3ul li a {
    color: #7f7f7f;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.footercon2ul li a:hover {
    color: #d2401e;
}

.footercon3ul li a:hover {
    color: #d2401e;
}

.emaincoun {
    text-transform: none !important;
}

.footercon3ul2 {
    display: flex;
}

.footercon3ul2 li {
    font-size: 23px;
    padding-left: 10px;
}

.footercon2a {
    color: black;
    text-decoration: none;
}

.footercon2a:hover {
    color: #d2401e;
}

.footercon2a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #7f7f7f;
    padding: 1px 0px;
}

.footerconphoneul {
    margin-top: 0;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .footersection1 {
        display: none;
    }

    .footercon1span {
        display: inline;
    }

    .footercol {
        text-align: center;
    }

    .footercon1par {
        max-width: 100%;
    }

    .footercon1par2 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .footersection1 {
        display: none;
    }

    .footercon1span {
        display: inline;
    }

    .footercol {
        text-align: center;
    }

    .footercon1par {
        max-width: 100%;
    }

    .footercon1par2 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .footersection1 {
        display: none;
    }

    .footercon1span {
        display: inline;
    }

    .footercol {
        text-align: center;
    }

    .footercon1par {
        max-width: 100%;
    }

    .footercon1par2 {
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .footersection1 {
        display: block;
    }

    .footersection2 {
        display: none;
    }

}

@media only screen and (min-width: 1200px) {
    .footersection1 {
        display: block;
    }

    .footersection2 {
        display: none;
    }
}

/* footer end */
/* copyright start */
.copyrightsection {
    background-color: #f0f0f0;
    text-align: center;
    padding: 25px 0;
}

.copyrightsection p {
    color: #7f7f7f;
    font-size: 16px;
    font-weight: 400;
}

/* copyright end */


/* checkout start */


.mainrowcheck {
    justify-content: space-around;
}

.addressfrommaindiv {
    position: relative;
    margin-top: 10px;
}

.addressfrommaindiv label {
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 14px;
}

.contactinfomiandiv {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.contactinfoimgdiv img {
    width: 50px;
}

.shippinhead {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contactinfotext {
    line-height: 1;
    padding-left: 10px;
}

.contactinfotext span {
    color: #d2401e;
    display: inline;
}

.form-selectt {
    padding: 1.375rem 2.25rem 0.375rem 0.75rem !important;
    display: block;
    width: 100%;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    outline-color: #d2401e;
}

.checkbtndiv {
    margin-top: 25px;
}

select option:checked {
    color: #000;
}

.addressinputmaindiv {
    margin-top: 10px;
}

.firstnameinput {
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    border: 1px solid #ced4da;
    outline-color: #d2401e;
}

.lastnameinput {
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
    border: 1px solid #ced4da;
    outline-color: r#d2401e;
}

.namefrommaindiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.firstnamediv {
    width: 55%;
}

.lastnamediv {
    width: 40%;
}

.contimueshippingbtn {
    cursor: pointer;
    display: inline-block;
    background-color: #d2401e;
    background-clip: border-box;
    box-sizing: border-box;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 1em 1.4em;
    text-align: center;
    position: relative;
}

.returncartbtn {
    text-decoration: none;
    color: #d2401e;
    padding-left: 10px;
}

.maintotal {
    display: flex;
    padding-bottom: 2rem;
    align-items: self-end;
}

.maintotalimg img {
    width: 40px;
}

.maintotaltextmain {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.nexttotal1 {
    border-top: 1px solid black;
    padding-top: 1rem;
}

.nexttotal1,
.nexttotal2 {
    display: flex;
    justify-content: space-between;
    width: 56%;
    padding-top: .5rem;
}

.nexttotal2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.nexttotal3 {
    display: flex;
    padding-top: 1.2rem;
    justify-content: space-between;
    width: 56%;
}

.nexttotal3 span {
    color: #717171;
    font-size: 16px;
    padding-left: 2px;
}

.footercon2acheck {
    text-decoration: none;
    color: #d2401e;

}

.footercon2acheck:hover {
    color: #d2401e;
}

.showdropcheck {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #717171;
}

.showdropcheck {
    display: none;
}

@media only screen and (max-width: 600px) {
    .priceshowcol {
        display: none;
    }

    .maintotaltextmain {
        width: 100%;
    }

    .nexttotal1,
    .nexttotal2 {
        width: 100%;
    }

    .nexttotal3 {
        width: 100%;
    }

    .showdropcheck {
        display: block;
    }

    .contimueshippingbtn {
        padding: 1em 0.4em;
    }

    .checkbtndiv {
        padding-bottom: 3rem;
    }
}

@media only screen and (min-width: 600px) {
    .priceshowcol {
        display: none;
    }

    .maintotaltextmain {
        width: 100%;
    }

    .nexttotal1,
    .nexttotal2 {
        width: 100%;
    }

    .nexttotal3 {
        width: 100%;
    }

    .showdropcheck {
        display: block;
    }

    .checkbtndiv {
        padding-bottom: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .priceshowcol {
        display: none;
    }

    .maintotaltextmain {
        width: 100%;
    }

    .nexttotal1,
    .nexttotal2 {
        width: 100%;
    }

    .nexttotal3 {
        width: 100%;
    }

    .showdropcheck {
        display: block;
    }

    .checkbtndiv {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    .showdropcheck {
        display: none;
    }

    .priceshowcol {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .showdropcheck {
        display: none;
    }

    .priceshowcol {
        display: block;
    }

}

/* checkout end */

/* buynow start */

.buynowcontainer {
    background-color: #f0f0f0;
}

.buynowcontainer1 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.img-div img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buytopcon {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.buynowcon {
    border-bottom: 1px solid black;
}

.colorselectdiv {
    display: flex;
    align-items: baseline;
}

.colorselectdiv img {
    width: 30px;
}

.colorselectdiv ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.img-div img {
    margin-left: 0;
}

.colorselectdiv ul li {
    padding-left: 10px;
}

.hightmaindiv {
    display: flex;
}

.hightmaindiv .col-6 {
    display: flex;
}

.buynowbtndiv {
    display: flex;
    justify-content: space-around;
}

.buynowbtn1 a {
    text-decoration: none;
    color: #fff;
    background: #222;
    padding: 15px 20px;
    transition: all .3s ease-in-out 0s;
}

.buynowbtn1 a:hover {
    background-color: #d2401e;
}

.buynowbtn2 a {
    text-decoration: none;
    color: #fff;
    background: #222;
    padding: 15px 20px;
    transition: all .3s ease-in-out 0s;
}

.buynowbtn2 a:hover {
    background-color: #d2401e;
}

@media only screen and (max-width: 600px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon1 h2 {
        font-size: 18px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buytopcon2 h5 {
        font-size: 15px;
    }

    .hightmaindiv .col-6 {
        display: block;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 600px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon1 h2 {
        font-size: 20px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buytopcon2 h5 {
        font-size: 15px;
    }

    .hightmaindiv .col-6 {
        display: block;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 768px) {
    .buynowcolmain {
        padding-top: 40px;
    }

    .buytopcon2 span {
        display: inline;
    }

    .buycolmainimg {
        text-align: -webkit-center;
    }
}

@media only screen and (min-width: 992px) {
    .buytopcon2 span {
        display: inline;
    }
}

/* buynow end */

/* cart start */

.cartheadmaindiv {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.cartrowdiv {
    justify-content: space-around;
}

.cartmaincoldiv {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addressdiv {
    display: flex;
    justify-content: space-between;
}

#addcart {
    width: 50px;
    text-align: center;
}

.addcartdiv {
    padding-top: 2rem;
    display: flex;
}

.addcartdiv button {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.cartshowdid .col-2 {
    position: relative;
}

.img-cart {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cartshowdid {
    display: flex;
    padding-top: 2rem;
}

.cartshowdid span {
    display: inline;
}

.cart-showcon ul {
    list-style: none;
}

.placediv {
    justify-content: space-between;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.removediv {
    padding-left: 15px;

}

.deliverdivchange a {
    text-decoration: none;
    color: #d2401e;
}

.removediv a {
    color: #d2401e;
    text-decoration: none;
}

.placedivorderbtn {
    text-align: center;
    padding-top: 1rem;
}

.placedivorderbtn a {
    background-color: #d2401e;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.placediv a {
    background-color: #d2401e;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.youwillp {
    color: #d2401e;
    padding-top: 1rem;
}

.pricediv,
.discountdiv,
.deliverydiv,
.totaldiv {
    display: flex;
    justify-content: space-between;
}

.pricediv span,
.discountdiv span,
.deliverydiv span {
    display: inline;
    color: #d2401e;
}

.pricemaindivcol {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.pricederails {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.totaldiv {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}

.pricemaindiv {
    border-bottom: 1px solid black;
}

.placedivorderbtn {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
    .cartheadmaindiv h4 {
        font-size: 18px;
    }

    .cart-showcon h4 {
        font-size: 14px;
    }

    .cart-showcon span,
    .cart-showcon p {
        font-size: 13px;
    }

    .deliveryblock p,
    .deliveryblock span {
        font-size: 13px;
    }

}

@media only screen and (min-width: 600px) {
    .cartheadmaindiv h4 {
        font-size: 18px;
    }

    .cart-showcon h4 {
        font-size: 18px;
    }
}

/* cart end */
/* collection start */


/* filter start */
.filtercol h2 {
    border-bottom: 1px solid black;
}

.categoriesh6 {
    display: flex;
    justify-content: space-between;
}

.categories1 {
    display: contents;
    color: black;
}

.categories1:hover {
    color: #d2401e;
}

.filter-name {
    color: black;
}

.filter-name:hover {
    color: black;
}

.fliter-col {
    text-align: -webkit-center;
}

.categories1 a {
    text-decoration: none;
    color: black;
}

.filtersearchinput {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.filtersearch {
    border: none;
    background: #fff;
    border-bottom: 1px solid black;
}

.scrollbar {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding-left: 0;
}

.filter-name {
    padding-left: 10px;
    text-transform: capitalize;
}

.flitercate1 {
    border-bottom: 1px solid black;
}

.filter-name i {
    padding-left: 4px;
    padding-right: 4px;
}

.flitercate2 {
    border-bottom: 1px solid black;
}

.pricerangediv input {
    width: 200px;
}

.pricerangeshowdiv {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.pricerangeshowmin p {
    border: 1px solid black;
    padding: 5px 15px;
}

.pricerangeshowmin p span {
    padding-left: 3px;
}

.pricerangeshowmax p {
    border: 1px solid black;
    padding: 5px 15px;
}

.pricetospan {
    padding: 5px;
}

.flitercate3,
.flitercate4,
.flitercate5,
.flitercate6,
.flitercate7 {
    border-bottom: 1px solid black;
}

.cat-none {
    display: none;
}

@media only screen and (max-width: 600px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .filter-name {
        display: inline;
    }

    .cat-none {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .filter-name {
        display: inline;
    }
}

/* filter end */

/* collection end */

/* create & login start */
.loginmainrow {
    justify-content: center;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.loginheaddiv h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
}

.loginheaddiv h5 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #7f7f7f;
}

.loginform ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loginform ul li {
    margin-top: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.loginemailinput,
.loginpasswordinput {
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    padding: 0 30px;
    outline: none;
    border-color: #efefef;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    width: 100%;
}

.loginpasswordinput {
    margin-top: 15px;
}

.loginform ul li i {
    position: absolute;
    right: 30px;
    font-size: 20px;
    color: #7f7f7f;
}

.signinbtndivmain {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.signinbtndiv a,
.forgotbtndiv a {
    text-decoration: none;
    padding: 10px 25px;
    font-weight: 600;
    color: #fff;
    background-color: #d2401e;
    border: 1px solid #d2401e;
    transition: all .3s ease-in-out 0s;
}

.signinbtndiv a:hover,
.forgotbtndiv a:hover {
    color: #d2401e;
    background-color: #fff;
}

.newaccountdiv h4 {
    font-size: 18px;
    line-height: 1;
}

.newaccountdiv a {
    color: #d2401e;
    margin-top: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    line-height: 3;

}

@media only screen and (max-width: 600px) {
    .loginheaddiv h2 {
        font-size: 24px;
    }

    .newaccountdiv h4,
    .loginheaddiv h5 {
        font-size: 14px;
    }

    .signinbtndiv a,
    .forgotbtndiv a {
        padding: 10px 15px;
    }
}

/* create & login end */

/* wishlist start */
.wishlistcontainer {
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.wishlistheaddiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
}

.wishlistheaddiv h6 {
    margin-bottom: 0;
}

.wishlistheaddiv a {
    color: #d2401e;
}

.wishlistimgmiandiv ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.wishlistimgli {
    width: 50%;
    display: flex;
    align-items: center;
}

.wishlistimgmiandiv ul li .wishlistimg img {
    width: 120px;
}

.wishlistaddli {
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.wislistpriceli {
    width: 25%;
    display: flex;
    text-align: right;
    line-height: .5;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #e2e2e2;
    padding-right: 15px;
}

.wishlistimgli {
    border: 1px solid #e2e2e2;
}

.wishlistimgtext a {
    text-decoration: none;
    color: #7f7f7f;
}

.wishlistimgtext a:hover {
    color: #d2401e;
}

.continueshoppingdiv {
    border: 1px solid #e2e2e2;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.continueshoppingdiv a {
    color: #7f7f7f;
}

.continueshoppingdiv a:hover {
    color: #d2401e;
}

.wishlistaddli {
    border: 1px solid #e2e2e2;
}

.wishlistaddli a {
    color: #7f7f7f;
}

.wishlistaddli a:hover {
    color: #d2401e;
}

.phoneremove {
    display: none;
}

.phoneremove1 {
    display: none;
}

.item-icon a {
    color: black;
}

@media only screen and (max-width: 600px) {
    .phoneremove1 {
        display: block;
    }

    .phoneremove {
        display: block;
    }

    .remove1 {
        display: none;
    }

    .remove2 {
        display: none;
    }

    .removemain {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    .phoneremove1 {
        display: block;
    }

    .remove1 {
        display: none;
    }

    .removemain {
        width: 75%;
    }

}

@media only screen and (min-width: 992px) {
    .phoneremove1 {
        display: none;
    }

    .remove1 {
        display: flex;
    }

    .removemain {
        width: 50%;
    }

}

/* wishlish end */