@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
/* navbar */
header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    padding: 7px;
    text-transform: uppercase;
    display: flex;
    font-weight: 500;
    transition: color 0.4s ease;
}

.navbar ul li a:hover{
    color: #d2401e;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    transition: color 0.4s ease;
}
.user-div ul{
    list-style: none;
    display: flex;
}
.user-div ul li{
    padding: 7px;
    text-transform: capitalize;
}
.user-div ul li a:hover{
    color: #d2401e;
}
.dropdown:hover{
    color: #d2401e;
}
.dropdown-content{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    background: #fff;
    width: 100%;
    visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
.dropdown:hover .dropdown-content {
    display: grid;
    visibility: visible;
  opacity: 1;
}
.dropdown-content a{
    text-decoration: none;
    color: #7f7f7f;
}
.dropdown-content a:hover{
    color: #d2401e;
}
/* menu */
.menucol{
    list-style: none;
    margin-top: 10px;
}
#menumaindiv{
    position: absolute;
    background: #fff;
    left: -25px;
    box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
    height: 100vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.3s linear;
}

.closex{
    text-align: right;
}
.bx-x{
    font-size: 25px;
}
.menudrop{
    float: right;
}
.menuli{
    font-size: 16px;
    padding-top: 5px;
    border-top: 1px solid #e2e2e2;
}
.menuli a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.bx-menu{
    display: none;
}
/* menu end */
@media (max-width:1024px){
    span{
        display: none;
    }
    .userrow{
        float: right;
    }
}
@media (max-width:768px){
    .navbar ul li{
        padding: 5px;
    }
    .user-div ul li{
        padding: 5px;
        padding-left: 10px;
        font-size: 18px;
    }
    .navbarrow{
        display: none !important;
    }
    .bx-menu{
        display: block;
    }
}
